._jTips_holder{display:inline-block; border:solid black 1px; padding:20px;border-radius: 4px;}
._jTips_blue{border-color:#3DC1DC; background-color:#BEEAF3; color:#4D9FBF;}
._jTips_red{border-color:#dd3ca0; background-color:#f4bedf; color:#9C2F2F;}
._jTips_green{border-color:#7ed619; background-color:#c3f28d; color:#58792E;}